<!doctype html>
<html class="" lang="en">

<head>
  <meta charset="UTF-8" />
  {{#insert name="metaTitle"}} {{#include src="/fragments/headContent.html"}}
</head>

<body data-page-type='Content Page'>
  <div class="min-h-screen bg-gray-50 flex flex-col">
    <div class="nav header hidden">{{#include src="/content/psg-demo-ue/nav.html"}}</div>
    {{#insert name="content.html"}} 
    <!--<div class="fixed bottom-4 right-4 z-50">Powered By:
      <img src="/content/dam/psg-demo-ue/streamx-logo-full-black.png" alt="Floating promotional image" class="w-32 h-auto md:w-48 lg:w-64">
    </div>-->
    <div class="footer">{{#include src="/fragments/footer.html"}}</div>
  </div>
</body>

</html>