<!doctype html>
<html class="" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="source" value="streamx"/>
  {{#insert name="metaTitle"}} {{#include src="/fragments/headContent.html"}}
</head>

<body data-page-type='Content Page'>
  <div class="min-h-screen bg-gray-50 flex flex-col">
    <div class="nav header hidden">{{#include src="/content/psg-demo-ue/nav.html"}}</div>
    {{#insert name="content.html"}} 
    <div class="footer">{{#include src="/fragments/footer.html"}}</div>
  </div>
</body>

</html>